.variant {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(122, 209, 209);
}
.variants {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 209, 209);
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(65, 95, 95);
}

.question {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(125, 209, 209);
}